@charset "UTF-8";

body {padding: 0; font-size: 16px;}
ul{padding: 0; transform: rotate(0.001deg);}

h1 { margin: 0.5em 0; font-size: xx-large; font-weight: bold;}
h2 { margin: 0.9em 0; font-size: x-large; font-weight: bold;}
h3 { margin: 0.9em 0; font-size: large; font-weight: bold;}
h4 { margin: 0.9em 0; font-size: medium; font-weight: bold;}
h5 { margin: 0.9em 0; font-size: small; font-weight: bold;}
h6 { margin: 0.9em 0; font-size: x-small; font-weight: bold;}
p { margin: 0.9em 0; line-height: 1.5;}

.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }

body {
  background-color: white;
  font-family: 'Rounded Mplus 1c' ,serif;
  color: #3a3a3a;
  background-image: url('../img/site_bg.jpg');
  background-size: cover;
  background-repeat-x: no-repeat;
  margin: 0;
  padding: 0;
}
a {
	transition: color 0.5s;
}
a:link { color:#f0c2ff; text-decoration:none }
a:visited { color:#f0c2ff; text-decoration:none }
a:hover { color:#f0c2ff; text-decoration:none }
a:active { color:#f0c2ff; text-decoration:none }

nav a:link { color:white; text-decoration:none }
nav a:visited { color:white; text-decoration:none }
nav a:hover { color:black; text-decoration:none }
nav a:active { color:white; text-decoration:none }

.list a { color: gray;}
.list a:hover{ text-decoration: underline; }

li{
	list-style: none;
}
h2{
  text-align: center;
}
h3{
  color: #e96b9b;
}

img{
  width: 100%;
}

.hand{
  width: 50px;
  vertical-align: middle;
}

.copy1 img{
  width: 110px;
}

.copy1sp{
  display: none;
}

.copy1tablet{
  display: none;
}

h2 img{
  width: 40px;
}

.wrapper img{
	max-width: 490px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* header */
.bg{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

.bg img{
  width: 45%;
}

.logo{
  width: 45%;
  float: right;
  margin-top: 80px;
  margin-right: 45px;
}

#logo1{
  width: 300px;
}
#logo2{
  width: 600px;

}
.menu{
  display: block;
  z-index: 99;
}

.menuFix{
	position: fixed;
	top: 0px;
}

.sp-menu{
  display: none;
}

.copy1{
  font-size: 3.25vw;
  font-weight: 900;
  color: #ff6c6c;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.copy2{
  font-size: 30px;
  font-weight: 900;
  margin-top: -25px;
  width: 100%;
  text-align: center;
}

/* menu */
nav{
	width: 100%;
  background-color: red;
  color: white !important;
  font-weight: 700;
  font-size: 28px;
}

.container{
  display: table;
  width: 100%;
}

.menu-button{
	width: 20%;
	display: table-cell;
	text-align: center;
}
/* contents */
.wrapper{
	width: 1000px;
	margin: 0 auto;
  margin-top: 30px;
}

#details{
}

.cover{
	width: 50%;
	float: left;
}

.track-list{
	width: 50%;
	float: right;
}

.list{
	padding-left: 10px;
  margin: 0;
}

#dinner-show{
}

.dinner-show-flyer{
	width: 50%;
  float: right;
}

#release-event{
}

.release-event-flyer{
	width: 50%;
	float: left;
}

#demo h3{
  text-align: center;
}
.youtubeDummy{
  text-align: center;
}

.youtubeDummy img{
	width: 560px;
	border: solid 2px #ff6c6c;
}

.youtubeDummy:hover{
  opacity: 0.7;

}

footer{
	margin-top: 50px;
	background-color: #ff6c6c;
	color: white;
	font-size: 14px;
	text-align: center;
}

/* sp/pc mode */
  @media only screen and (max-width: 1279px) {
    body{
      margin-top: 50px;
    }
    .wrapper{
      width: 70%;
      line-height: 30px;
    }

    .copy1{
      display: none;
    }

    .copy1tablet{
      display:block;
      font-size: 36px;
      font-weight: 900;
      color: #ff6c6c;
      width: 100%;
      text-align: center;
    }

    .copy2{
      font-size: 20px;
      margin-top: 20px;
    }

    .hand{
      width: 30px;
    }
    .logo {
      width: 100%;
      float: initial;
      margin-top: 40px;
      text-align: center;
    }

    #logo1{
      width: 150px;
    }
    #logo2{
      width: 50%;
      margin-top: 18px;
    }

    .intro{
      padding: 11px;
    }
    .bg{
      display: none;
    }

		#details,#dinner-show,#release-event{
			height: initial;
		}
		#details div,#dinner-show div,#release-event div {
			width: initial;
	    float: initial;
		}
    .cover,.dinner-show-flyer{
      text-align: center;
    }
    .youtubeDummy img{
			width: 90%;
		}

    .menu{
      position: fixed;
      top: 0;
      font-size: 14px;
    }

    .menu-button{
      border: solid 1px white;
    }

  }

/* sp mode only */
@media only screen and (max-width: 500px) {

  .copy1tablet{
    display: none;
  }

  .copy1sp{
    display:block;
    font-size: 36px;
    font-weight: 900;
    color: #ff6c6c;
    width: 100%;
    text-align: center;
  }
    .wrapper{
      width: 100%;
    }

    #logo2{
      width: 100%;
    }
  }
